@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Questrial&display=swap");

body {
  font-size: 16px;

  font-family: "Questrial", sans-serif;
}

h1 {
  line-height: 1em;
  font-size: 64px;
  font-family: "Balsamiq Sans", cursive;
  font-weight: 700;
  margin-bottom: 16px;
}
h2 {
  font-size: 48px;
  font-family: "Balsamiq Sans", cursive;
  line-height: 1em;
  margin-bottom: 16px;

  //   font-weight: 700;
}
h3 {
  font-size: 40px;
  font-family: "Balsamiq Sans", cursive;
  line-height: 1em;
  margin-bottom: 14px;

  //   font-weight: 700;
}
p {
  line-height: 1.5em;
}
// do it locally
a {
  font-size: 18px;
  font-family: "Questrial", sans-serif;
}
