@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Questrial&display=swap");

h1 {
  font-size: 64px;
  font-family: "Balsamiq Sans", cursive;
  font-weight: 700;
}
h2 {
  font-size: 48px;
  font-family: "Balsamiq Sans", cursive;

  //   font-weight: 700;
}
h3 {
  font-size: 40px;
  font-family: "Balsamiq Sans", cursive;

  //   font-weight: 700;
}
p {
  font-size: 16px;
  font-family: "Questrial", sans-serif;
}

a {
  font-size: 18px;
  font-family: "Questrial", sans-serif;
}
